@mixin baseInput {
  background: white;
  outline: none;
  color: var(--secondary-font-color) !important;
  border-bottom: 3px solid var(--accent-color-light);
  transition: box-shadow 0.3s;

  &:focus {
    box-shadow: -8px 8px 0px 0px var(--accent-color);
    background: white;
  }

  &:active {
    box-shadow: none;
  }

  &:not(:focus).-dirty {
    border-bottom: 3px solid var(--accent-color);
  }
}