@use 'sass:color';
@import 'variables.module';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #{$dark-blue-base};
  --primary-color: #{$dark-blue-base};
  --secondary-color: #{$purple-base};
  --accent-color: #{$pink-base};
  --secondary-color-light: #{lighten($purple-base, .2)};
  --secondary-color-dark: #{darken($purple-base, .8)};
  --primary-font-color: white;
  --secondary-font-color: black;
  --divider-color: #{$pink-base};
}

body {
  color: var(--primary-font-color);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-color)
    )
    var(--background-color);
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

footer {
  background-color: var(--secondary-color-dark);
}

h2 {
  text-shadow: -4px 4px 0px $purple;
}

span.highlight {
  color: $steel-pink;
}