@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables.module';

body {
  color: rgb(255, 255, 255);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(9, 24, 51)
    )
    rgb(9, 24, 51);
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

footer {
  background-color: rgb(39, 41, 50);
}

h2 {
  text-shadow: -4px 4px 0px $purple;
}

span.highlight {
  color: $steel-pink;
}