@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables.module';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --header-background: 9, 24, 51;
  --header-foreground: 255, 255, 255;
  --footer-foreground: 39, 41, 50;
  --pale-silver: #d1c5c0;
  --purple: #711c91;
  --steel-pink: #cb1dcd;
  --raisin-black: #272932;
  --primary-font-color: white;
  --secondary-font-color: var(--raisin-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 9, 24, 51;
    --background-end-rgb: 9, 24, 51;
    --header-background: 209, 197, 192;
    --header-foreground: 39, 41, 50;
    --primary-font-color: var(--raisin-black);
    --secondary-font-color: white;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


header {
  background: rgb(var(--header-background));
  color: rgb(var(--header-foreground));
  -webkit-box-shadow: 0px 5px 5px 0px rgba(255, 255, 255, 0.15);;
  -moz-box-shadow: 0px 5px 5px 0px rgba(255, 255, 255, 0.15);;
  box-shadow: 0px 5px 5px 0px rgba(255, 255, 255, 0.15);
}

footer {
  background-color: rgb(var(--footer-foreground));
}

h2 {
  text-shadow: -4px 4px 0px var(--purple);
}

span.highlight {
  color: var(--steel-pink);
}